$pure-black: #000;
$pure-white: #fff;
$hash-grey-2: #767676;
$cloud-grey: #e3e5e6;
$main-cta-red: #dc2b1b;
$stroke-grey: #dedede;

$color-background: $pure-white;
$color-foreground: $pure-black;

$font-sf-pro: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI",
  sans-serif;
